.custom-slider-el-1 {
    top: 45px;
}
.section.specialists , .section.what-says {
    direction: ltr;
}
.owl-carousel .owl-item img.second {
    height: 645px;
}
.p-lr-5 {
    padding: 0 25px;
}
.ml-35 {
    margin-left: 35px;
}